<%= form_with(model: [post, post.comments.build]) do |f| %>
  <div class="form-control">
    <%= f.rich_text_area :body %>
    <%= f.submit submit_label, class: "btn btn-dark mt-1 p-0" %>
  </div>
<% end %>
