<div>
  <div class="container mt-4">
    <h1>Howdy!</h1>
    <p>I'm Joel, a software developer working in California. <br> Welcome to my home on the web for projects I've created. <br> Write me and say "Hi". <br> I appreciate meeting new people.</p>
    <%= link_to "Back", root_path, class: "btn btn-dark" %>
  </div>
</div>
