<div class="container my-5">
  <div class="text-center mx-5">
    <img class="borders border-5 mt-5 mb-3" width="200" <%=image_tag("cowboy.jpg")%>
  </div>
  <div class="text-center mt-4">
    <h1>Howdy!</h1>
    <p>I'm Joel, a software developer from California. <br> Welcome to my home on the web for projects I've made. <br> Write me and say "Hi" - I appreciate meeting new people.</p>
    <%= link_to "Back", root_path, class: "btn btn-dark" %>
  </div>
</div>

<%= render "layouts/footer" %>
