<div class="container">
  <h1>About Me</h1>
  <p>Hey, I'm Joel! I'm a software developer working in California. Welcome to my home on the web for projects I've created. You can contact me by email at pickelljoel@gmail.com to say "Hi". I appreciate meeting new people.</p>
  <%= link_to "Home", root_path, class: "btn btn-secondary" %>
</div>
