<div class="container my-5 pt-4">
  <div class="text-center mt-5 pt-2">
    <h1 class="my-2 pb-2"><strong>About</strong></h1>
    <img id="about_img" <%=image_tag("cowboy.jpg")%>
  </div>
  <div class="text-center m-1 mb-4">
    <h1>Howdy!</h1>
    <p class="mt-2">I'm Joel, a software developer from California. <br> Welcome to my home on the web for projects I've made. <br> Write me and say "Hi" - I appreciate meeting new people.</p>
    <%= link_to "Back", root_path, class: "btn btn-dark" %>
  </div>
</div>
<footer>
<%= render 'layouts/footer' %>
</footer>
