<div class="container">
  <div class="mb-3"> <img src="lib/images/JoelLW 2.jpg" alt="avatar" id="avatar"></div>
  <h1>I'm Joel. I make web applications.</h1>
  <p>You can read more about me here or check out my blog.</p>
</div>
<div class=“text-end”>
  <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
  <%= link_to "Blog", posts_path, class: "btn btn-primary" %>
</div>
