
<div class="border border-dark border-5 border-top-0 px-5">
  <div class="text-center">
      <img class="borders border-5 mt-5 mb-3" width="200" <%=image_tag("JoelLW 2.jpg")%>
    </span>
  </div>

  <div class="container">
    <div class="text-center">
      <h1 class="intro-text"><span>I'm Joel. I make web apps with <span class="special-green">Ruby on Rails</span><span>, </span><span class="special-green">Javascript</span>, & <span class="special-green">CSS</span>. I also write <span class="special-green">articles</span><span> on </span><span class="special-green">software development</span><span>.</span></h1>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <p>I create articles for aspiring developers.</p>
  </div>

  <div class="container mb-2">
    <h5>Recent Articles</h5>
    <%= link_to "view all ->", posts_path, class: "btn btn-dark" %>
  </div>

  <div class="card">
    <% Post.limit(2).each do |post| %>
      <%= render post %>
    <% end %>
  </div>

  <div class="card" style="width: 300px;">
    <img <%=image_tag("yoga.png")%>
    <div class="card-body text-center">
        <h5 class="card-title">Alice Liddel</h5>
        <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
        <a href="#" class="btn btn-primary stretched-link">View Profile</a>
    </div>
  </div>


</div>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://joelpickell.com/">joelpickell.com</a>
  </div>
  <!-- Copyright -->
</footer>
