<div class="container">
  <h1>JOEL PICKELL</h1>
  <p>You can read more about me here or check out my blog.</p>
</div>
<div class="container">
  <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
  <%= link_to "Blog", posts_path, class: "btn btn-primary" %>
</div>
