<div class="container">
  <div class="d-flex">
    <img class="rounded-circle" width="200" <%=image_tag("JoelLW 2.jpg")%>
    <h1>I'm Joel. I make web applications.</h1>
  </div>
  <div class="d-flex justify-content-center">
    <hr class="mx-5 w-25">
  </div>
  <p>I create articles for aspiring developers.</p>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class=“text-end”>
    <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
    <%= link_to "Blog", posts_path, class: "btn btn-primary" %>
</div>
