<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="rounded-circle" width="200" <%=image_tag("JoelLW 2.jpg")%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">I'm Joel. I make web applications.</h5>
        <p class="card-text">I create articles for aspiring developers.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ruby For Beginners</h5>
        <p class="card-text">This blog entry explores common mistakes beginners meet when they begin coding in Ruby</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Javascript Made Easy</h5>
        <p class="card-text">Dive into JS Sortcuts!</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class=“text-end”>
    <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
    <%= link_to "Blog", posts_path, class: "btn btn-primary" %>
</div>
