<div class="container text-center mt-5 pt-2">
  <h1 class="my-2 pb-2"><strong>Portfolio</strong></h1>
  <p> Here are a few of my past projects:</p>
  <div class="row my-5 py-1">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="http://www.shareadog.net/">
          <div class="col2 p-0 m-3">
            <div class="hovtxt p-5 text-start text-dark">
              <p><strong>Share-a-Dog</strong> app is an AirBnB clone, designed to help pet owners list their dog, and to help pet-renters choose the perfect dog to rent from these listings. Coding highlights include: Image upload with an external Rails service Cloudinary, plus a map with an external Rails service Mapbox. Click here to visit the site.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="http://www.woofpal.net/">
          <div class="col1 p-0 m-3">
            <div class="hovtxt p-5 text-start text-dark">
              <p><strong>Woof-Pal</strong> is my final project at Le Wagon bootcamp. It is a web app created to give new dog owners a unique veterinarian-approved deworming, vaccinations, and grooming schedule based on the dog's age. Next, it syncs this schedule to their Google Calendar, as well as creates an icalendar and webcal. Coding highlights include: Image upload with an external Rails service Cloudinary. Click to visit the site.</p>
            </div>
          </div>
        </a>
      </div>
  </div>
</div>




<%# <div class="container text-center mt-5 pt-2">
    <h1 class="my-2 pb-2"><strong>Portfolio</strong></h1>
  <p> Here are some of my past projects:</p>
  <div class="row my-5 py-1">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3">
        <a href="http://www.shareadog.net/"><img src="<%= asset_path('Share-a-Dog-Banner.jpg') %>", alt="Share-a-Dog Banner", height= "320", width= "300", crop="fill"></a>
      <%# </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3">
        <a href="http://www.woofpal.net/"><img src="<%= asset_path('Woofpal Banner.jpeg') %>", alt="Woofpal Banner", height= "320", width= "300", crop="fill"></a>
      <%# </div>
    </div>
  </div>
</div> %>

<%= render 'layouts/footer' %>
