
<div class="container mt-5 pt-5">
  <h5><strong>Portfolio<strong></h5>
  <p> Here are some of my past projects </p>

  <div class="container">
    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-4">
        <div class="card mb-3">
          <a href="http://www.shareadog.net/"><img src="<%= asset_path('Share-a-Dog-Banner.jpeg') %>", alt="Share-a-Dog Banner", height= "320", width= "300", crop="fill"></a>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mb-4">
        <div class="card mb-3">
          <a href="http://www.woofpal.net/"><img src="<%= asset_path('Woofpal Banner.jpeg') %>", alt="Woofpal Banner", height= "320", width= "300", crop="fill"></a>
        </div>
      </div>

    </div>
  </div>

</div>
<%= render 'layouts/footer' %>
