<div>
  <h1 class="text-center mb-4 mt-3">Articles</h1>
</div>

<div><%= render 'search/form' %></div>

<div class="container" style="width: 900px;">
<div id="posts" class="row row-cols-1 row-cols-md-2 g-4 mt-4 mx-4">
  <% @posts.each do |post| %>
  <div class="card-deck">
    <div class="col">
      <div class="card-body">
        <%= render post %>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to "New post", new_post_path %>
</div>
</div>
