<div class="container m-4">
  <h2>new post</h2>
  <%= render "form", post: @post %>
  <br>
  <div>
    <%= link_to "Back to Articles", posts_path, class: "btn btn-dark" %>
  </div>
</div>
<%= render 'layouts/footer' %>
