a:link, a:visited {
  background-color: black;
  color: #ffffff;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
    background-color: rgb(0, 0, 0);
  }
