a:link, a:visited {
  /* background-color: black; */
  color: #ffffff;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  hr {
  size: 2;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background-color:black;
  }

  .special-green {
  background: rgb(28, 230, 186);
  display: inline;
  padding: none;
  color: #000000;
  box-shadow: none;
  }
