a:link, a:visited {
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
.navbar-brand, .nav-link {
  color: hsl(0, 0%, 100%);
}
.navbar-brand:hover {
  color:rgb(28, 230, 186);
}

a:hover {
  color:rgb(28, 230, 186);
}
.nav-link:hover {
  color: rgb(28, 230, 186);
  text-decoration: none;
  }


  hr {
  size: 4;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 1px 1px;
  color: #000000;
  }

  .special-green {
  background: rgb(28, 230, 186);
  display: inline;
  padding: 2px;
  color: #000000;
  box-shadow: none;
  }

.navbar {
  background:#000000;
  color:#ffffff;
}

.nav-item {
  color: #ffffff;
}

ul {
  list-style-type: none;
}

html * {
  font-family: Georgia, serif;
}
.borders{
  border: 3px solid white;
  outline: 4px solid black;
   }
#nav-bottom-decor-0 {
  background: rgb(28, 230, 186);
  height:8px;
}

#nav-bottom-decor-1 {
  background-color:rgb(126, 28, 230);
  height:8px;
}
#nav-bottom-decor-2 {
  background-color:rgb(230, 136, 28);
  height:8px;
}
#nav-bottom-decor-3 {
  background-color:rgb(215, 174, 25);
  height:8px;
}
#nav-bottom-decor-4 {
  background-color:rgb(220, 230, 28);
  height:8px;
}

#image_show {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.black {
  color: #000;
  text-decoration : none;
}
.white {
  color: rgb(255, 255, 255);
  text-decoration : none;
}

img {
  width: 100%;
  object-fit: cover;
}

.ft-item {
  color: rgb(255, 255, 255);
}

#about_img {
  border: 0px solid white;
  outline: 4px solid black;
  padding: 3px;
  margin: 3px;
  width: 200px;
  border-radius: 1%
}

/* .container {
  position: relative;
  width: 50%;
} */

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.image {
  position: relative;
  width: 400px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: rgba(0, 0, 0, 0.6);
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__description {
  margin: 1em;
  font-size: 12px;
}

.card {
  position: relative;
}

#lb {
  color: #000000;
}

/* <----------------FOOTER-----------------------> */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}

#footer-list {
  padding: 2px;
}
