<footer class="text-center text-lg-start bg-dark text-light slanted">
  <div class="container p-4">
   <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Joel.Pickell" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:pickelljoel@gmail.com" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/joelpickell/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Guavalines" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
        <h3 class="intro-text"><span>I'm Joel. I make web apps with <span class="special-green">Ruby on Rails</span><span>, </span><span class="special-green">Javascript</span>, & <span class="special-green">CSS</span>. I also write <span class="special-green">articles</span><span> on </span><span class="special-green">software development</span><span>.</span></h3>
    </section>
    <!-- Section: Text -->
  </div>

  <section id="footer-list">
    <div class="container text-center mt-1">
      <div class="row mt-3">

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
          <h6 class="text-uppercase fw-bold mb-4 text-white">Menu</h6>
          <p><%= link_to "About", about_path, class: "text-light" %></p>
          <p><%= link_to "Articles", posts_path, class: "text-light" %></p>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
          <h6 class="text-uppercase fw-bold mb-4 text-white">Contact</h6>
          <p><a href="mailto:pickelljoel@gmail.com" class="text-white">Email</a></p>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
          <h6 class="text-uppercase fw-bold mb-4 text-white">Social</h6>
          <p><a href="https://www.facebook.com/Joel.Pickell" class="text-white">Facebook</a></p>
          <p><a href="https://www.linkedin.com/in/joelpickell/" class="text-white">Linkedin</a></p>
          <p><a href="https://github.com/Guavalines" class="text-white">Github</a></p>
        </div>

      </div>
    </div>
  </section>
  <!-- Copyright -->
  <div class="text-center p-1 text-dark" style="background-color: rgb(28, 230, 186);">
    © joelpickell . 2022 . Built with Rails . Open sourced on <span><i class="fa-brands fa-github"></i></span> . Deployed on Heroku .
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
