<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-light slanted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <!-- Left -->
  <div class="text-center">
      <h3 class="intro-text"><span>I'm Joel. I make web apps with <span class="special-green">Ruby on Rails</span><span>, </span><span class="special-green">Javascript</span>, & <span class="special-green">CSS</span>. I also write <span class="special-green">articles</span><span> on </span><span class="special-green">software development</span><span>.</span></h3>
    </div>
    <!-- Left -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-center mt-1">
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Menu
          </h6>
          <p>
            <%= link_to "About", about_path, class: "text-light" %>
          </p>
          <p>
            <%= link_to "Articles", posts_path, class: "text-light" %>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 col-xl-4 mx-6 mb-4 pl-6">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            Contact
          </h6>
          <p>
            <a href="#!" class="text-white">Email</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-6">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-white">Social</h6>
          <p><a href="https://www.facebook.com/Joel.Pickell" class="text-white">Facebook</a></p>
          <p><a href="https://www.linkedin.com/in/joelpickell/" class="text-white">Linkedin</a></p>
          <p><a href="https://github.com/Guavalines" class="text-white">Github</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-1 text-dark" style="background-color: rgb(28, 230, 186);">
    © joelpickell . 2022 . Built with Rails . Open sourced on <span><i class="fa-brands fa-github"></i></span> . Deployed on Heroku .
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
