<footer class="bg-dark text-center text-white pt-5">
  <!-- Grid container -->
  <div class="container">
    <div class="text-center">
      <h1 class="intro-text"><span>I'm Joel. I make web apps with <span class="special-green">Ruby on Rails</span><span>, </span><span class="special-green">Javascript</span>, & <span class="special-green">CSS</span>. I also write <span class="special-green">articles</span><span> on </span><span class="special-green">software development</span><span>.</span></h1>
    </div>
  </div>
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Joel.Pickell" role="button">
      Facebook
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/joelpickell/" role="button">
      Linkedin
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Guavalines" role="button">
      Github
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgb(28, 230, 186);">
    © 2022 Copyright:
    <a class="text-white" href="https://joelpickell.com/">joelpickell.com</a>
  </div>
  <!-- Copyright -->
</footer>
