<footer class="bg-white text-center text-dark text-lg-start">
  <!-- Grid container -->
   <div class="text-center">
      <h3 class="intro-text"><span>I'm Joel. I make web apps with <span class="special-green">Ruby on Rails</span><span>, </span><span class="special-green">Javascript</span>, & <span class="special-green">CSS</span>. I also write <span class="special-green">articles</span><span> on </span><span class="special-green">software development</span><span>.</span></h3>
    </div>
  <div class="container p-4">
    <!--Grid row-->
    <div class="row text-center px-5">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Menu</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">About</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Articles</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Email</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-styled mb-0">
          <li>
            <a href="https://www.facebook.com/Joel.Pickell" class="text-dark">Facebook</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/joelpickell/" class="text-dark">Linkedin</a>
          </li>
          <li>
            <a href="https://github.com/Guavalines" class="text-dark">Github</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1 text-dark" style="background-color: rgb(28, 230, 186);">
    © joelpickell . 2022 . Built with Rails . Open sourced on <span><i class="fa-brands fa-github"></i></span> . Deployed on Heroku .
  </div>
  <!-- Copyright -->
</footer>
